.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.RollDice button{
    align-self: center;
    width: 15rem;
    padding: 1.5rem;
    border: 0px;
    color: #fff;
    border-radius: 10px;
    background: cadetblue;
}

.RollDice button:hover{
    background-color: rgb(72, 121, 122) ;
    cursor: pointer;
}